
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    height: 7vh;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    border-bottom: 0.5px solid #e8e9ed;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
    margin-right: 8vw;
}

.header__right p {
    font-weight: 300;
    color: #5e6170;
}

.header__right:hover {
    cursor: pointer;
}

.header__title {
    margin-left: 4vw;
    /* font-family: "Kaushan Script", Helvetica, cursive; */
    font-size: 20px;
    font-weight: 700;
    color: #353740;
}